{% extends 'MopaBootstrapBundle::base_less.html.twig' %}

{% block title %}{{ sonata_seo_title(false) }}{% endblock %}

{% block head_style %}
    {% stylesheets
        'less/main_styles.less' filter='?uglifycss' filter='cssrewrite' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock head_style %}

{% block head_script %}
	{% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock head_script %}

{% block head_bottom %}
    {% block meta %}
        {{ sonata_seo_metadatas() }}
    {% endblock %}
{% endblock head_bottom %}

{% block navbar %}
    <header>
		<a href="{{ path('slash_app_mainpage') }}" class="logo">
            {% image '@SlashStudioAppBundle/Resources/public/images/logo.png' %}
                <img src="{{ asset_url }}" alt="Дикие панды!" />
            {% endimage %}
        </a>
		<nav>
			{{ knp_menu_render('main', {'template': 'SlashStudioAppBundle:Default:knp_menu.html.twig'}) }}
            <ul class="right_menu">
            {% set new_locale = app.request.locale == 'en' ? 'ru' : 'en' %}
                <li class="vk"><a href="https://vk.com/amfvl"></a></li>
                <li class="in"><a href="https://instagram.com/vladivostokwildpandas/"></a></li>
                <li class="language"><a href="{{ path('slash_app_mainpage', {_locale: new_locale}) }}">{{ new_locale | capitalize }}</a></li>
            </ul>
		</nav>
	</header>
{% endblock navbar %}

{% block headline %}{% endblock %}

{% block container_div_start %}{% endblock %}
{% block container_div_end %}{% endblock %}
{% block page_header %}{% endblock %}
{% block content_div_start %}<div class="wrapper">{% endblock %}
{% block content_div_end %}</div>{% endblock %}

{% block footer %}
    {% include '::footer.html.twig' %}
{% endblock footer %}
