{% trans_default_domain 'navigation' %}

<ul>
	<li><a href="{{ path('slash_app_team_join') }}">{{ 'navigation.team' | trans }}</a></li><li><a href="{{ path('slash_app_media_photo') }}">{{ 'navigation.photo' | trans }}</a></li><li><a href="{{ path('slash_app_media_video') }}">{{ 'navigation.video' | trans }}</a></li><li><a href="{{ path('slash_app_team_info', {action: 'training'}) }}">{{ 'navigation.training' | trans }}</a></li><li><a href="{{ path('slash_app_chearleaders') }}">{{ 'navigation.cheerleader' | trans }}</a></li><li><a href="{{ path('slash_app_blog_list') }}">{{ 'navigation.blog' | trans }}</a></li><li><a href="{{ path('slash_app_products_list') }}">{{ 'navigation.products' | trans }}</a></li>
</ul>
<div class="bottom row">
	<div class="left col-sm-6">
		{{ 'footer.team_name' | trans({}, 'messages') }}, 2015
	</div>
	<div class="right col-sm-6">
		{{ 'footer.site_design' | trans({}, 'messages') }} - <a href="http://slashwebstudio.ru">Slash Studio</a>
	</div>
</div>