{% trans_default_domain 'navigation' %}

<footer>
  <ul>
    <li><a>{{ 'navigation.team' | trans }}</a></li>
    <li><a>{{ 'navigation.video' | trans }}</a></li>
    <li><a>{{ 'navigation.photo' | trans }}</a></li>
    <li><a>{{ 'navigation.training' | trans }}</a></li>
    <li><a>{{ 'navigation.cheerleader' | trans }}</a></li>
    <li><a>{{ 'navigation.blog' | trans }}</a></li>
    <li><a>{{ 'navigation.products' | trans }}</a></li>
  </ul>
</footer>