{% trans_default_domain 'navigation' %}

<header>
  <ul>
    <li>{{ 'navigation.team' | trans }}
      <ul>
        <li><a href="{{ path('slash_app_team_players') }}">{{ 'navigation.players' | trans }}</a></li>
        <li><a href="{{ path('slash_app_team_info', {action: 'training'}) }}">{{ 'navigation.training' | trans }}</a></li>
        <li><a href="{{ path('slash_app_team_info', {action: 'history'}) }}">{{ 'navigation.history' | trans }}</a></li>
        <li><a href="{{ path('slash_app_team_info', {action: 'baby_team'}) }}">{{ 'navigation.baby_team' | trans }}</a></li>
        <li><a href="{{ path('slash_app_team_join') }}">{{ 'navigation.join_team' | trans }}</a></li>
      </ul>
    </li>
    <li>{{ 'navigation.media' | trans }}
      <ul>
        <li><a href="{{ path('slash_app_media_photo') }}">{{ 'navigation.photo' | trans }}</a></li>
        <li><a href="{{ path('slash_app_media_video') }}">{{ 'navigation.video' | trans }}</a></li>
        <li><a href="{{ path('slash_app_media_about') }}">{{ 'navigation.media_about' | trans }}</a></li>
      </ul>
    </li>
    <li><a href="{{ path('slash_app_chearleaders') }}">{{ 'navigation.cheerleader' | trans }}</a></li>
    <li><a href="{{ path('slash_app_products_list') }}">{{ 'navigation.products' | trans }}</a></li>
    <li><a href="{{ path('slash_app_partnership') }}">{{ 'navigation.partnership' | trans }}</a></li>
    <li><a href="{{ path('slash_app_blog_list') }}">{{ 'navigation.blog' | trans }}</a></li>
  </ul>
</header>