{% extends '::base.html.twig' %}

{% block headline %}
  {{ 'navigation.media' | trans({}, 'navigation') }}
{% endblock %}

{% block content %}
  <div class="count">
    {{ pagination.getTotalItemCount }}
  </div>
  {% for p in pagination %}
    <div>
      <b><a href="{{ path('slash_app_media_show', {id: p.id}) }}">{{ p.getTitle() }}</a></b>
      <p>{{ p.getSubtitle() }}</p>
      {{ p.createdAt.date | localizeddate('short', 'none') }}
      <div> {% media p.image, 'main' %}</div>
    </div>
  {% endfor %}
  <div class="navigation">
    {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}
