{% extends '::base.html.twig' %}

{% block head_style %}
  {{ parent() }}
  {% stylesheets
    'bundles/slashstudioapp/less/blog.less'
    'bundles/slashstudioapp/less/photos_videos.less' filter='?uglifycss' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock head_style %}

{% block content_row %}
  <a href="{{ path('slash_app_blog_list') }}" class="h1_a"><h1 class="blue_h1"><span>{{ 'navigation.media_about' | trans({}, 'navigation') }}<div class="line"></div></span></h1></a>
  <div class="row">
    <article class="post col-xs-8">
      <h1>{{ post.getTitle() }}</h1>
      <time>{{ post.createdAt.date | localizeddate('short', 'none') }}</time>
      <div class="photo">
        {% if post.image %}
          {% media post.image, 'big' with {alt: post.getTitle(), title: post.getTitle()} %}
        {% else %}
          {% image 'bundles/slashstudioapp/images/blog_770x434.jpg' %}
            <img src="{{ asset_url }}" alt="{{ post.getTitle() }}" title="{{ post.getTitle() }}" />
          {% endimage %}
        {% endif %}
      </div>
      <h2>{{ post.getSubtitle() }}</h2>
      <div class="descr text">{{ post.getRawText() | raw }}</div>
    </article>
    <aside class="col-xs-4">
      {% include 'SlashStudioAppBundle:Aside:instagram.aside.html.twig' %}
      <section class="other_posts">
        <h1 class="aside_h1">{{ 'posts.other' | trans }}</h1>
        {% for p in other_posts %}
          <article>
            <div class="row">
              <div class="photo col-xs-4">
                <a href="{{ path('slash_app_media_show', {id: p.id}) }}">
                  {% if p.image %}
                    {% media p.image, 'small' with {alt: p.getTitle(), title: p.getTitle()} %}
                  {% else %}
                    {% image 'bundles/slashstudioapp/images/blog_133x75.jpg' %}
                      <img src="{{ asset_url }}" alt="{{ p.getTitle() }}" title="{{ p.getTitle() }}" />
                    {% endimage %}
                  {% endif %}
                </a>
              </div>
              <div class="right col-xs-8">
                <a href="{{ path('slash_app_media_show', {id: p.id}) }}"><h1>{{ p.getTitle() }}</h1></a>
                <div class="descr text">
                  {{ p.getSubtitle() }}
                </div>
              </div>
            </div>
          </article>
        {% endfor %}
      </section>
    </aside>
  </div>
{% endblock %}
