{% extends '::base.html.twig' %}

{% block headline %}
  {{ post.getTitle() }}
{% endblock %}

{% block content %}
  <p>{{ post.getSubtitle() }}</p>
  <p>{{ post.getRawText() | raw }}</p>
  {% media post.image, 'main' %}
  {{ post.createdAt.date | localizeddate('short', 'none') }}
  <div>
    <h3>{{ 'posts.other' | trans }}</h3>
    {% for p in other_posts %}
      <div>
        <b><a href="{{ path('slash_app_media_show', {id: p.id}) }}">{{ p.getTitle() }}</a></b>
        <p>{{ p.getSubtitle() }}</p>
        {{ p.createdAt.date | localizeddate('short', 'none') }}
        <div> {% media p.image, 'main' %}</div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
