{% extends '::base.html.twig' %}

{% block body %}
  <h1>{{ 'navigation.cheerleader' | trans({}, 'navigation') }}</h1>
  <div>
    {{ team.getName() }}
    <p>{{ team.getDescription() }}</p>
    {% media team.image, 'main' %}
    <div>
      {% for cl in cheerleaders %}
        {{ cl.getFullname() }}
        <p>{{ cl.getAbout() }}</p>
        {% media cl.photo, 'small' %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
