{% extends '::base.html.twig' %}

{% block headline %}
  {{ 'navigation.cheerleader' | trans({}, 'navigation') }}
{% endblock %}

{% block content_row %}
  <div>
    {{ team.getName() }}
    <p>{{ team.getDescription() }}</p>
    {% media team.image, 'main' %}
    <div>
      <div class="count">
        {{ pagination.getTotalItemCount }}
      </div>
      {% for cl in pagination %}
        {{ cl.getFullname() }}
        <p>{{ cl.getAbout() }}</p>
        {% media cl.photo, 'small' %}
      {% endfor %}
      <div class="navigation">
        {{ knp_pagination_render(pagination) }}
      </div>
    </div>
  </div>
  <div>
    {{ 'navigation.video' | trans({}, 'navigation') }}
    {% for video in videos %}
      {% media video,  'medium' %}
    {% endfor %}
  </div>
  <div>
    <h2>{{ 'cheerleader_team.join' | trans }}</h2>
    {% for flashMessage in app.session.flashbag.get('notice') %}
      HUI
      <div class="flash-notice">
        {{ flashMessage }}
      </div>
    {% else %}
      {{ form(join_form) }}
    {% endfor %}
  </div>
{% endblock %}
