{% extends '::base.html.twig' %}

{% block headline %}
  {{ 'navigation.cheerleader' | trans({}, 'navigation') }}
{% endblock %}

{% block content %}
  <div>
    {{ team.getName() }}
    <p>{{ team.getDescription() }}</p>
    {% media team.image, 'main' %}
    <div>
      <div class="count">
        {{ pagination.getTotalItemCount }}
      </div>
      {% for cl in pagination %}
        {{ cl.getFullname() }}
        <p>{{ cl.getAbout() }}</p>
        {% media cl.photo, 'small' %}
      {% endfor %}
      <div class="navigation">
        {{ knp_pagination_render(pagination) }}
      </div>
    </div>
  </div>
{% endblock %}
