{% extends sonata_block.templates.block_base %}

{% block block %}
{# is_granted('ROLE_SUPER_ADMIN') #}
  {% if true and admins.team %}
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">{{ admins.team.label|trans({}, admins.team.translationdomain) }}</h3>
      </div>
      <ul class="sonata-blog-post-container list-group">
        <li class="list-group-item">{{ team.name }}</li>
        <li class="list-group-item">{{ team.description }}</li>
      </ul>
      <a href="{{ admins.team.generateUrl('edit', {id: team.id}) }}" class="btn btn-primary btn-block"><i class="fa fa-edit"></i>{% trans from 'SonataAdminBundle' %}link_action_edit{% endtrans %}</a>
    </div>
  {% endif %}
  {% if true and admins.cheerleaders %}
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">{{ admins.cheerleaders.label|trans({}, admins.cheerleaders.translationdomain) }}</h3>
      </div>
      <div class="sonata-blog-post-container list-group">
        {% for a in cheerleaders %}
          <a href="{{ admins.cheerleaders.generateUrl('edit', {id: a.id}) }}" class="list-group-item">{{ a.getFullName() }}</a>
        {% endfor %}
      </div>
      <a href="{{ admins.cheerleaders.generateUrl('list') }}" class="btn btn-primary btn-block"><i class="fa fa-list"></i>{% trans from 'SonataAdminBundle' %}link_list{% endtrans %}</a>
    </div>
  {% endif %}
{% endblock %}