{% extends '::base.html.twig' %}


{% block body %}
  <h1>Wild Pandas Home Page!!</h1>

  <div>
    <h2>This is slider!</h2>
    {% for slide in slides %}
      <div>
        {{ slide.title }}
        {{ slide.subtitle }}
        {% media slide.image, 'big' %}
      </div>
    {% endfor %}
  </div>

  <div>
    <h2>This is a Team Section!</h2>
    <h3>{{ 'title.team' | trans }}</h3>
    <p>{{ team.description }}</p>
    <div>{% media team.image, 'main' %}</div>
    <b>Achievements</b>
    <ul>
      {% for achievement in team.achievements %}
        <li>{{ achievement.name }}</li>
        <div>{% media achievement.image, 'logo' %}</div>
      {% endfor %}
    </ul>
    <div>
      <h3>{{ 'title.contacts' | trans }}</h3>
      <div>
        {% if team.captain %}
          <h4>{{ 'title.team.captain' | trans }}</h4>
          {{ team.captain.name }} {{ team.captain.surname }}
          {{ team.captain.phone }}
          {{ team.captain.email }}
        {% endif %}
      </div>
      <div>
        {% if team.managerName %}
          <h4>{{ 'title.team.manager' | trans }}</h4>
          {{ team.managerName }}
          {{ team.managerPhone }}
          {{ team.managerEmail }}
        {% endif %}
      </div>
    </div>
  </div>

  <div>
    <h2><a href="{{ path('slash_app_blog_list') }}">{{ 'title.official_blog' | trans }}</a></h2>
    {% for post in posts %}
      <div>
        <b><a href="{{ path('slash_app_blog_show', {id: post.id}) }}">{{ post.title }}</a></b>
        <p>{{ post.subtitle }}</p>
        {{ post.createdAt.date }}
        <div> {% media post.image, 'main' %}</div>
      </div>
    {% endfor %}
  </div>

  <div>
    <h2><a href="#">{{ 'navigation.players' | trans({}, 'navigation') }}</a></h2>
  {% for player in players %}
    <div>
      {{ 'player.name' | trans({}, 'player') }}: {{ player.name }}
      {{ 'player.surname' | trans({}, 'player') }}: {{ player.surname }}
      <div>{% media player.photo, 'small' %}</div>
    </div>
  {% endfor %}
  </div>

  <div>
    <h2><a href="{{ path('slash_app_products_list') }}">{{ 'navigation.products' | trans({}, 'navigation') }}</a></h2>
    {% for product in products %}
      <div>
      <a href="{{ path('slash_app_product_show', {id: product.id}) }}">{{ product.name }}</a>
        {{ 'product.price' | trans }} : {{ product.price }}
        <div>{% media product.image, 'small' %}</div>
      </div>
    {% endfor %}
  </div>

  <div>
    <h2><a href="{{ path('slash_app_chearleaders') }}">{{ 'navigation.cheerleader' | trans({}, 'navigation') }}</a></h2>
    <div>
      <h3>{{ cl_team.name }}</h3>
      {% media cl_team.image, 'main' %}
    </div>
  </div>

  <div>
    <h2><a href="{{ path('slash_app_partnership') }}">{{ 'navigation.partnership' | trans({}, 'navigation') }}</a></h2>
    <div>
      <h4>{{ 'title.sponsors' | trans }}</h4>
      {% for s in partnership.sponsors %}
        {% media s.image, 'logo' with {alt: s.name} %}
      {% endfor %}
    </div>
    <div>
      <h4>{{ 'title.partners' | trans }}</h4>
      {% for p in partnership.partners %}
        {% media p.image, 'logo' with {alt: p.name} %}
      {% endfor %}
    </div>
    {{ 'partnership.description' | trans }}
  </div>
{% endblock %}