{% extends '::base.html.twig' %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
        'bundles/slashstudioapp/less/styles_index.less'
        'bundles/slashstudioapp/colorbox/colorbox.css' filter='?uglifycss' filter='cssrewrite' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock head_style %}

{% block head_script %}
  {{ parent() }}
  {% javascripts
    'bundles/slashstudioapp/colorbox/jquery.colorbox-min.js'
  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script type="text/javascript">
    $(function() {
      $("#all_events").colorbox({iframe: "true", transition: "none", width: "800px", height: "600px"});
    });
  </script>
{% endblock head_script %}

{% block content_row %}
  <div class="wrapper">
    <div class="row">
      <!--<iframe src="https://www.google.com/calendar/embed?src=wildpandas.vl%40gmail.com&ctz=Asia/Vladivostok" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>-->
      <section id="myCarousel" class="carousel slide col-xs-9 slider" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% for slide in slides %}
            <li data-target="#myCarousel" {% if loop.index == 1 %}class="active"{% endif %} data-slide-to="{{ loop.index - 1 }}"></li>
          {% endfor %}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {% for slide in slides %}
            <div class="item {% if loop.index == 1 %}active{% endif %}">
              <!--
              -->
            {% media slide.image, 'big' with {alt: slide.getTitle(), title: slide.getTitle()} %}
            <div class="carousel-caption">
              <h1>{{ slide.getTitle() }}</h1>
              <h2>{{ slide.getSubtitle() }}</h2>
            </div>
            </div>
          {% endfor %}
        </div>
      </section>
      <section class="joinus col-xs-3">
        <div class="wrapper">
          <h1>{{ 'team.join' | trans }}<br /><b>{{ 'team.join.team_name' | trans }}</b>!</h1>
          {% for flashMessage in app.session.flashbag.get('notice') %}
            HUI
            <div class="flash-notice">
              {{ flashMessage }}
            </div>
          {% else %}
            {% form_theme join_form 'SlashStudioAppBundle:Form:custom_form1.html.twig' %}
            {{ form(join_form) }}
          {% endfor %}
        </div>
      </section>
    </div>
    <a name="team"></a>
    <section class="team">
      <h1 class="blue_h1"><span>{{ 'title.team' | trans }}<div class="line"></div></span></h1>
      <div class="row">
        <div class="photo col-xs-4">
          {% media team.image, 'main' with {alt: team.getName(), title: team.getName()} %}
        </div>
        <div class="team_info col-xs-5">
          <div class="descr text">{{ team.getRawDescription() | raw }}</div>
          <div class="achivements">
            <ul>
              {% for achievement in team.achievements %}
                <li>{% media achievement.image, 'logo' with {alt: achievement.getName(), title: achievement.getName()} %}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="team_contact col-xs-3">
          <div>
            {% if team.captain %}
              <h2>{{ 'title.team.captain' | trans }}</h2>
              <span class="name">{{ team.captain.getFullname() }}</span>
              <a href="tel:{{ team.captain.phone }}" class="tel">{{ team.captain.phone }}</a>
              <a href="mailto:{{ team.captain.email }}" class="email">{{ team.captain.email }}</a>
            {% endif %}
          </div>
          <div>
            {% if team.getManagerName() %}
              <h2>{{ 'title.team.manager' | trans }}</h2>
              <span class="name">{{ team.getManagerName() }}</span>
              <a href="tel:{{ team.managerPhone }}" class="tel">{{ team.managerPhone }}</a>
              <a href="mailto:{{ team.managerEmail }}" class="email">{{ team.managerEmail }}</a>
            {% endif %}
          </div>
        </div>
    </section>

    <section class="blog">
      <a href="{{ path('slash_app_blog_list') }}" class="h1_a"><h1 class="blue_h1"><span>{{ 'title.official_blog' | trans }}<div class="line"></div></span></h1></a>
      <div class="row">
        <div class="posts col-xs-9">
          <div class="row">
            {% for post in posts %}
              <article class="col-xs-4">
                <div class="photo">
                  <a href="{{ path('slash_app_blog_show', {id: post.id}) }}">
                    {% if post.image %}
                      {% media post.image, 'main' with {alt: post.getTitle(), title: post.getTitle()} %}
                    {% else %}
                      {% image 'bundles/slashstudioapp/images/blog_270x152.jpg' %}
                        <img src="{{ asset_url }}" alt="{{ post.getTitle() }}" title="{{ post.getTitle() }}" />
                      {% endimage %}
                    {% endif %}
                  </a>
                </div>
                <h1><a href="{{ path('slash_app_blog_show', {id: post.id}) }}">{{ post.getTitle() }}</a></h1>
                <div class="descr text">{{ post.getSubtitle() }}</div>
                <time>{{ post.createdAt.date | localizeddate('short', 'none') }}</time>
              </article>
            {% endfor %}
          </div>
        </div>
        <div class="calendar col-xs-3">
          <div class="wrapper">
            {# {% if googleevent.day is defined %} #}
              {#<div class="day">{{ googleevent.day }}</div>#}
              {#<div class="month">{{ googleevent.month }}</div>#}
              <div class="day">27</div>
              <div class="month">декабря</div>
            {# {% endif %} #}
            {# <div class="event">{{ googleevent.summary }}</div> #}
            <div class="event">Дружественная встреча с командой "Свирепые орлы"</div>
            <a href="https://calendar.google.com/calendar/embed?src=slashwebstudio%40gmail.com&ctz=Asia/Vladivostok" id="all_events" class="btn btn-default">{{ 'event.all' | trans }}</a>
          </div>
        </div>
      </div>
    </section>

    <section class="players">
      <a href="{{ path('slash_app_team_players') }}" class="h1_a"><h1 class="blue_h1"><span>{{ 'navigation.players' | trans({}, 'navigation') }}<div class="line"></div></span></h1></a>
      <div class="players_row">
        {% for player in players %}<div class="player">
            <div class="photo">{% media player.photo, 'small' with {alt: player.getName() ~ ' ' ~ player.getSurname(), title: player.getName() ~ ' ' ~ player.getSurname()} %}</div>
            {{ player.getName() }}<br />
            {{ player.getSurname() }}
          </div>{% endfor %}
      </div>
    </section>

    <div class="row">
      <section class="instagram col-xs-8">
        <a href="https://instagram.com/vladivostokwildpandas/" target="_blank" class="h1_a"><h1 class="blue_h1" id="insta_icon"><span>{{ 'navigation.instagram' | trans({}, 'navigation') }}<div class="line"></div></span></h1></a>
        <div class="gallery row">
        {% for image in instagram %}
          <div class="img col-xs-3">
            <a href="{{ image.link }}" target="_blank"><img src="{{ image.lr_url }}" alt="Дикие панды!" /></a>
          </div>
          {% if loop.index % 4 == 0 and not loop.last %}
            </div><div class="gallery row">
          {% endif %}
        {% endfor %}
        </div>
      </section>
      <section class="video col-xs-4">
        <a href="{{ path('slash_app_media_video') }}" class="h1_a"><h1 class="blue_h1" id="video_icon"><span>{{ 'navigation.video' | trans({}, 'navigation') }}<div class="line"></div></span></h1></a>
        {% for video in videos %}
          <div class="obj">{% media video, 'medium' %}</div>
        {% endfor %}
      </section>
    </div>

    <section class="attr">
      <a href="{{ path('slash_app_products_list') }}" class="h1_a"><h1 class="blue_h1"><span>{{ 'navigation.products' | trans({}, 'navigation') }}<div class="line"></div></span></h1></a>
      <div class="row">
        {% for product in products %}
          <div class="col-xs-3">
            <article>
              <div class="photo">
                <a href="{{ path('slash_app_product_show', {id: product.id}) }}">
                  {% if product.image %}
                    {% media product.image, 'small' with {alt: product.getName(), title: product.getName()} %}
                  {% else %}
                    {% image 'bundles/slashstudioapp/images/attr_240x160.jpg' %}
                      <img src="{{ asset_url }}" alt="{{ product.getName() }}" title="{{ product.getName() }}" />
                    {% endimage %}
                  {% endif %}
                </a>
              </div>
              <a href="{{ path('slash_app_product_show', {id: product.id}) }}">{{ product.getName() }}
              </a>
              <div class="price">{{ 'product.price' | trans }}: {{ product.price }} руб.</div>
            </article>
          </div>
        {% endfor %}
      </div>
      <a href="{{ path('slash_app_products_list') }}" class="btn btn-default bottom_button">{{ 'products.all' | trans() }}</a>
    </section>

    <section class="cheerleaders">
      <a href="{{ path('slash_app_chearleaders') }}" class="h1_a"><h1 class="blue_h1"><span>{{ 'navigation.cheerleader' | trans({}, 'navigation') }}<div class="line"></div></span></h1></a>
      <div class="row">
        <div class="col-xs-9">
          <div class="main_photo">
            {% media cl_team.image, 'cl_main' with {alt: cl_team.getName(), title: cl_team.getName()} %}
          </div>
          <div class="girls">
            {% for girl in cheerleaders %}<div class="girl">
                <div class="photo">{% media girl.photo, 'small' with {alt: girl.getName() ~ ' ' ~ girl.getSurname(), title: girl.getName() ~ ' ' ~ girl.getSurname()} %}</div>
                {{ girl.getName() }}<br />
                {{ girl.getSurname() }}
            </div>{% endfor %}
          </div>
          <a href="{{ path('slash_app_chearleaders') }}" class="btn btn-default bottom_button">{{ 'cheerleader_team.all' | trans() }}</a>
        </div>
        <aside class="col-xs-3">
          {% for ad in ads %}
            <div class="ad_block">{{ ad.html | raw }}</div>
          {% endfor %}
        </aside>
      </div>
    </section>

    <section class="partners">
      <a href="{{ path('slash_app_partnership') }}" class="h1_a"><h1 class="blue_h1"><span>{{ 'navigation.partnership' | trans({}, 'navigation') }}<div class="line_center"><div class="line_l"></div><div class="line_r"></div></div></span></h1></a>
      <div class="block">
        <h2>{{ 'title.sponsors' | trans }}</h2>
        {% for s in partnership.sponsors %}
          {% media s.image, 'logo' with {alt: s.getName(), title: s.getName()} %}
          <!--<span class="name">{{ s.getName() }}</span>-->
        {% endfor %}
      </div>
      <div class="block">
        <h2>{{ 'title.partners' | trans }}</h2>
        {% for p in partnership.partners %}
          {% media p.image, 'logo' with {alt: p.getName(), title: p.getName()} %}
          <!--<span class="name">{{ p.getName() }}</span>-->
        {% endfor %}
      </div>
      <a href="#team" class="manager">{{ 'partnership.description' | trans({'%manager%' : team.getManagerName(), '%phone%': team.managerPhone }) }}</a>
    </div>
  </section>
{% endblock %}