{% extends '::base.html.twig' %}

{% block headline %}
    {{ 'navigation.partnership' | trans({}, 'navigation') }}
{% endblock %}

{% block content %}
  <div>
    <h3>{{ 'team.blog' | trans }}</h3>
    {% for p in posts %}
      <div>
        <b><a href="{{ path('slash_app_media_show', {id: p.id}) }}">{{ p.getTitle() }}</a></b>
        <p>{{ p.getSubtitle() }}</p>
        {{ p.createdAt.date | localizeddate('short', 'none') }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
