{% extends '::base.html.twig' %}

{% block head_style %}
  {{ parent() }}
  {% stylesheets
    '@SlashStudioAppBundle/Resources/public/less/attr.less' filter='?uglifycss' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock head_style %}

{% block content_row %}
  <section class="attr">
    <h1 class="blue_h1"><span>{{ 'navigation.products' | trans({}, 'navigation') }}<div class="line"></div></span></h1>
    <h2 class="description">{{ 'product.description' | trans }}</h2>
    <div class="row more_one">
      {% for product in pagination %}
        <div class="col-xs-3">
          <article>
            <div class="photo">
              <a href="{{ path('slash_app_product_show', {id: product.id}) }}">{% media product.image, 'small' with {alt: product.getName(), title: product.getName()} %}</a>
            </div>
            <a href="{{ path('slash_app_product_show', {id: product.id}) }}">{{ product.getName() }}</a>
            <div class="price">{{ 'product.price' | trans }}: {{ product.price }}</div>
          </article>
        </div>
        {% if loop.index % 4 == 0 and not loop.last %}
          </div><div class="row more_one">
        {% endif %}
      {% endfor %}
    </div>
    <div class="navigation">
      {{ knp_pagination_render(pagination, 'SlashStudioAppBundle:Pagination:pagination.html.twig') }}
    </div>
  </section>
{% endblock %}