{% extends '::base.html.twig' %}

{% block body %}
  <h1>{{ 'product.title' | trans }}</h1>
  <h3>{{ 'product.description' | trans }}</h3>
  <div class="count">
    {{ pagination.getTotalItemCount }}
  </div>
  {% for product in pagination %}
    <div>
      {{ 'product.name' | trans }} : <a href="{{ path('slash_app_product_show', {id: product.id}) }}">{{ product.getName() }}</a>
      {{ 'product.price' | trans }} : {{ product.price }}
    </div>
  {% endfor %}
  <div class="navigation">
    {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}