{% extends '::base.html.twig' %}

{% block head_style %}
  {{ parent() }}
  {% stylesheets
    '@SlashStudioAppBundle/Resources/public/less/attr.less'
    '@SlashStudioAppBundle/Resources/public/colorbox/colorbox.css'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock head_style %}

{% block head_script %}
  {{ parent() }}
  {% javascripts
    '@SlashStudioAppBundle/Resources/public/colorbox/jquery.colorbox-min.js'
  %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script type="text/javascript">
    $(function() {
      $("#inline").colorbox({inline: "true", transition: "none", width: "450px"});

      if ($('#form_valid').attr('data') == 'error') {
        $.colorbox({href:"#order_form", inline: "true", transition: "none", width: "450px"});
      }
    });
  </script>
{% endblock head_script %}

{% block content_row %}
  <div id="form_valid" data="{{ valid }}"></div>
  <h1 class="blue_h1"><span>{{ 'navigation.products' | trans({}, 'navigation') }}<div class="line"></div></span></h1>
  <article class="product">
    <div class="row">
      <div class="photo col-xs-6">
        {% media product.image, 'big' with {alt: product.getName(), title: product.getName()} %}
      </div>
      <div class="info col-xs-6">
        <h1>{{ product.getName() }}</h1>
        <div class="descr text">
          {{ product.getRawDescription() | raw }}
        </div>
        <div class="price">
          <div>{{ 'product.price' | trans }}: {{ product.price }} ₽</div>
        </div>
        <a id="inline" href="#order_form" class="btn btn-default">Заказать</a>
      </div>
    </div>
  </article>
  <section class="attr">
    <a href="{{ path('slash_app_products_list') }}" class="h1_a"><h1 class="blue_h1"><span>{{ 'products.other' | trans }}<div class="line"></div></span></h1></a>
    <div class="row">
      {% for product in other_products %}
        <div class="col-xs-3">
          <article>
            <div class="photo">
              <a href="{{ path('slash_app_product_show', {id: product.id}) }}">{% media product.image, 'small' with {alt: product.getName(), title: product.getName()} %}</a>
            </div>
            <a href="{{ path('slash_app_product_show', {id: product.id}) }}">
              {{ product.getName() }}
            </a>
            <div class="price">{{ 'product.price' | trans }}: {{ product.price }} ₽</div>
          </article>
        </div>
      {% endfor %}
    </div>
  </section>
  <div style="display: none">
    <div id="order_form">
      <div class="order_form">
        <h1>{{ 'product.order' | trans }}</h1>
        {% for flashMessage in app.session.flashbag.get('notice') %}
          HUI
          <div class="flash-notice">
            {{ flashMessage }}
          </div>
        {% else %}
          {% form_theme order_form 'SlashStudioAppBundle:Form:custom_form1.html.twig' %}
          {{ form(order_form) }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
