<section class="instagram">
  <h1 class="aside_h1">{{ 'navigation.instagram' | trans({}, 'navigation') }}</h1>
  <div class="gallery row">
    <div class="img col-sm-6">
      {% image '@SlashStudioAppBundle/Resources/public/images/g1.jpg' %}
          <img src="{{ asset_url }}" alt="Дикие панды!" />
      {% endimage %}
    </div>
    <div class="img col-sm-6">
      {% image '@SlashStudioAppBundle/Resources/public/images/g1.jpg' %}
          <img src="{{ asset_url }}" alt="Дикие панды!" />
      {% endimage %}
    </div>
  </div>
  <div class="gallery row">
      <div class="img col-sm-6">
        {% image '@SlashStudioAppBundle/Resources/public/images/g1.jpg' %}
            <img src="{{ asset_url }}" alt="Дикие панды!" />
        {% endimage %}
      </div>
      <div class="img col-sm-6">
        {% image '@SlashStudioAppBundle/Resources/public/images/g1.jpg' %}
            <img src="{{ asset_url }}" alt="Дикие панды!" />
        {% endimage %}
      </div>
    </div>
</section>