{% extends '::base.html.twig' %}

{%  block body %}
  <h1>{{ 'title.official_blog' | trans }}</h1>
  {% for post in posts %}
    <div>
      <a href="{{ path('slash_app_blog_show', {id: post.id}) }}"><b>{{ post.title }}</b></a>
      <p>{{ post.subtitle }}</p>
      {{ post.createdAt.date }}
      <div> {% media post.image, 'main' %}</div>
    </div>
  {% endfor %}
{% endblock %}
