{% extends '::base.html.twig' %}

{%  block body %}
  <h1>{{ 'title.official_blog' | trans }}</h1>
  <div class="count">
    {{ pagination.getTotalItemCount }}
  </div>
  {% for post in pagination %}
    <div>
      <a href="{{ path('slash_app_blog_show', {id: post.id}) }}"><b>{{ post.getTitle() }}</b></a>
      <p>{{ post.getSubtitle() }}</p>
      {{ post.createdAt.date }}
      <div> {% media post.image, 'main' %}</div>
    </div>
  {% endfor %}
  <div class="navigation">
    {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}
