{% extends '::base.html.twig' %}

{% block headline %}
  {{ 'navigation.join_team' | trans({}, 'navigation') }}
{% endblock %}

{% block content %}
  <div>
    <h2>{{ 'navigation.video' | trans({}, 'navigation') }}</h2>
    {% for video in videos %}
      <div>{% media video, 'medium' %}</div>
    {% endfor %}
  </div>
  <div>
    <h2>{{ 'team.join' | trans }}</h2>
    {% for flashMessage in app.session.flashbag.get('notice') %}
      HUI
      <div class="flash-notice">
        {{ flashMessage }}
      </div>
    {% else %}
      {{ form(join_form) }}
    {% endfor %}
  </div>
{% endblock %}
