{% extends '::base.html.twig' %}

{% block body %}
  <h1>{{ 'navigation.players' | trans({}, 'navigation') }}</h1>
  <table>
    <thead>
      <th></th>
      <th>{{ 'player.fullname'  | trans({}, 'player') }}</th>
      <th>{{ 'player.number'  | trans({}, 'player') }}</th>
      <th>{{ 'player.position'  | trans({}, 'player') }}</th>
      <th>{{ 'player.weight'  | trans({}, 'player') }}</th>
      <th>{{ 'player.height'  | trans({}, 'player') }}</th>
      <th>{{ 'player.birthday'  | trans({}, 'player') }}</th>
      <th>{{ 'player.nationality'  | trans({}, 'player') }}</th>
    </thead>
    <tbody>
      {% for p in players %}
        <tr>
          <td></td>
          <td>{{ p.getFullname() }}</td>
          <td>{{ p.number }}</td>
          <td>{{ p.position.getName() }}</td>
          <td>{{ p.weight }}</td>
          <td>{{ p.height }}</td>
          <td>{{ p.birthday.date | localizeddate('short', 'none') }}</td>
          <td>{{ p.nationality.getName() }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}