{% extends '::base.html.twig' %}

{% block headline %}
  {{ 'navigation.players' | trans({}, 'navigation') }}
{% endblock %}

{% block content %}
  <span>{{ 'player.structure' | trans({}, 'player') }}</span> :
  <ul>
    <li><a href="{{ path('slash_app_team_players', {s: 'basic'}) }}">{{ 'player.structure.basic' | trans({}, 'player') }}</a></li>
    <li><a href="{{ path('slash_app_team_players', {s: 'additional'}) }}">{{ 'player.structure.additional' | trans({}, 'player') }}</a></li>
  </ul>
  <div class="count">
    {{ pagination.getTotalItemCount }}
  </div>
  <table>
    <thead>
      <th></th>
      <th>{{ 'player.fullname'  | trans({}, 'player') }}</th>
      <th>{{ 'player.number'  | trans({}, 'player') }}</th>
      <th>{{ 'player.position'  | trans({}, 'player') }}</th>
      <th>{{ 'player.weight'  | trans({}, 'player') }}</th>
      <th>{{ 'player.height'  | trans({}, 'player') }}</th>
      <th>{{ 'player.birthday'  | trans({}, 'player') }}</th>
      <th>{{ 'player.nationality'  | trans({}, 'player') }}</th>
    </thead>
    <tbody>
      {% for p in pagination %}
        <tr>
          <td></td>
          <td>{{ p.getFullname() }}</td>
          <td>{{ p.number }}</td>
          <td>{{ p.position.getName() }}</td>
          <td>{{ p.weight }}</td>
          <td>{{ p.height }}</td>
          <td>{{ p.birthday.date | localizeddate('short', 'none') }}</td>
          <td>{{ p.nationality.getName() }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="navigation">
    {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}